This is a sample

In [72]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import scipy.stats as stats
from datetime import datetime, timedelta

In [73]:
# Create a file path
data_set = Path("Resources\Crimes_2015toPresent_AndrewsTestFile.csv")
df = pd.read_csv(data_set)
df.head()

,District,Primary Type,Arrest,Date,IUCR,Description,Location Description,FBI Code,Year,Latitude,Longitude
0,1,ARSON,True,19:06,1090,ATTEMPT ARSON,CONSTRUCTION SITE,9,2015,41.885874,-87.625284
1,6,WEAPONS VIOLATION,True,23:22,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.750717,-87.638868
2,6,WEAPONS VIOLATION,True,0:27,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.752899,-87.617435
3,6,WEAPONS VIOLATION,True,22:00,143A,UNLAWFUL POSS OF HANDGUN,VEHICLE NON-COMMERCIAL,15,2018,41.758364,-87.617594
4,6,WEAPONS VIOLATION,True,14:38,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.744909,-87.603789

In [74]:
# Create a file path
data_set = Path("Resources\Crimes_2015toPresent.csv")

# Read in the data. 
df = pd.read_csv(data_set)
df.head()

,District,Primary Type,Arrest,Date,IUCR,Description,Location Description,FBI Code,Year,Latitude,Longitude
0,1.0,ARSON,True,10/26/2015 07:06:00 PM,1090,ATTEMPT ARSON,CONSTRUCTION SITE,09,2015,41.885874,-87.625284
1,6.0,WEAPONS VIOLATION,True,10/09/2018 11:22:00 PM,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.750717,-87.638868
2,6.0,WEAPONS VIOLATION,True,10/09/2018 12:27:00 AM,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.752899,-87.617435
3,6.0,WEAPONS VIOLATION,True,10/08/2018 10:00:00 PM,143A,UNLAWFUL POSS OF HANDGUN,VEHICLE NON-COMMERCIAL,15,2018,41.758364,-87.617594
4,6.0,WEAPONS VIOLATION,True,10/08/2018 02:38:00 PM,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.744909,-87.603789

In [75]:
#count the number of arrests per year
total_arrests_per_year = df.groupby('Year').size()
total_arrests_per_year

Year
2015     82780
2016    127802
2017    126245
2018    127465
2019     58977
2020      7144
2021      1090
2022        83
2023      1167
dtype: int64

In [76]:
#create a data frame from only 2015
crime_data_2015= df[df["Year"] == 2015]
crime_data_2015.head()

,District,Primary Type,Arrest,Date,IUCR,Description,Location Description,FBI Code,Year,Latitude,Longitude
0,1.0,ARSON,True,10/26/2015 07:06:00 PM,1090,ATTEMPT ARSON,CONSTRUCTION SITE,09,2015,41.885874,-87.625284
416,7.0,ASSAULT,True,09/16/2015 10:33:00 PM,0560,SIMPLE,APARTMENT,08A,2015,41.777310,-87.640803
417,7.0,ASSAULT,True,09/16/2015 02:35:00 PM,0520,AGGRAVATED:KNIFE/CUTTING INSTR,RESIDENCE,04A,2015,41.773729,-87.648272
418,7.0,ASSAULT,True,09/13/2015 05:30:00 PM,0560,SIMPLE,APARTMENT,08A,2015,41.793543,-87.642707
419,7.0,ASSAULT,True,09/13/2015 10:35:00 AM,0560,SIMPLE,GROCERY FOOD STORE,08A,2015,41.787147,-87.637969

In [78]:
crime_data_2015['Date']=pd.to_datetime(crime_data_2015('Date'))

TypeError: 'DataFrame' object is not callable

In [16]:
#Display Data Frame (Date, IUCR, Primary Type, Description, Location Description, Arrest, District, FBI Code, Year, Latitude, Longitude)
crime_data = df[["Date","IUCR","Primary Type", "Description", "Location Description", "Arrest", "District", "FBI Code", "Year", "Latitude", "Longitude"]]
crime_data

,Date,IUCR,Primary Type,Description,Location Description,Arrest,District,FBI Code,Year,Latitude,Longitude
0,19:06,1090,ARSON,ATTEMPT ARSON,CONSTRUCTION SITE,True,1,9,2015,41.885874,-87.625284
1,23:22,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,6,15,2018,41.750717,-87.638868
2,0:27,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,6,15,2018,41.752899,-87.617435
3,22:00,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,VEHICLE NON-COMMERCIAL,True,6,15,2018,41.758364,-87.617594
4,14:38,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,6,15,2018,41.744909,-87.603789
...,...,...,...,...,...,...,...,...,...,...,...
532748,8:00,820,THEFT,$500 AND UNDER,VEHICLE NON-COMMERCIAL,False,16,6,2015,41.972611,-87.781875
532749,11:00,810,THEFT,OVER $500,STREET,False,16,6,2015,41.963258,-87.768667
532750,3:00,810,THEFT,OVER $500,STREET,False,16,6,2015,41.978956,-87.775171
532751,14:00,810,THEFT,OVER $500,RESIDENCE,False,16,6,2015,41.990711,-87.805647
532752,15:00,890,THEFT,FROM BUILDING,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,16,6,2015,41.943393,-87.766670

In [17]:
#Drop Rows where Year = 2015
crime_data_2015 = crime_data[crime_data["Year"] == 2015]
crime_data_2015.head()

,Date,IUCR,Primary Type,Description,Location Description,Arrest,District,FBI Code,Year,Latitude,Longitude
0,19:06,1090,ARSON,ATTEMPT ARSON,CONSTRUCTION SITE,True,1,9,2015,41.885874,-87.625284
416,22:33,560,ASSAULT,SIMPLE,APARTMENT,True,7,08A,2015,41.777310,-87.640803
417,14:35,520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,RESIDENCE,True,7,04A,2015,41.773729,-87.648272
418,17:30,560,ASSAULT,SIMPLE,APARTMENT,True,7,08A,2015,41.793543,-87.642707
419,10:35,560,ASSAULT,SIMPLE,GROCERY FOOD STORE,True,7,08A,2015,41.787147,-87.637969

In [30]:
#get just the dates column seperated
crime_data_2015['Date']

0         19:06
416       22:33
417       14:35
418       17:30
419       10:35
          ...
532748     8:00
532749    11:00
532750     3:00
532751    14:00
532752    15:00
Name: Date, Length: 82780, dtype: object

In [47]:

from datetime import datetime, timedelta

In [53]:
df1 = pd.crime_data_2015['Date']

AttributeError: module 'pandas' has no attribute 'crime_data_2015'

In [50]:
#TEST HERE
crime_data_2015['Date'] = pd.to_datetime(df['Date'])

KeyboardInterrupt:

In [32]:
population1 = crime_data_2015[crime_data_2015["Date"] == 1]
population1.mean()

Date                    NaN
IUCR                    NaN
Primary Type            NaN
Description             NaN
Location Description    NaN
Arrest                  NaN
District                NaN
FBI Code                NaN
Year                    NaN
Latitude                NaN
Longitude               NaN
dtype: object