In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\alvar\anaconda3\lib\site-packages (3.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (4.40.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: numpy>=1.20 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\alvar\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alvar\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%matplotlib inline

In [3]:
%matplotlib notebook

In [6]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import csv
import matplotlib.pyplot as plt
# import os

# Read file and store as a DataFrame
# public_arrest_data_to_load = pd.read_csv("Resources/PublicReleaseArrestDataUPDATE.csv")
# crimes_2015_present_to_load = pd.read_csv("Resources/Crimes_2015toPresent.csv")
# fatal_shootings_data_to_load = pd.read_csv('Resources/Fatal_Shootings_Dot_OrgUPDATED.csv',encoding='latin-1')
fatalities_data_to_load = pd.read_csv("Resources/fatal_complete.csv")

# public_arrest_data = pd.DataFrame(public_arrest_data_to_load)
# public_arrest_data.head()
# crimes_2015_present = pd.DataFrame(crimes_2015_present_to_load)
# crimes_2015_present.head()
fatalities_data = pd.DataFrame(fatalities_data_to_load)
# fatal_shootings_data.head()


# merge datasets 
# crime_data_complete = pd.merge(fatalities_shoot_data, , how="left", on=["Date"])
# crime_data_complete
# crime_data_complete.to_csv("Crime_data_complete")

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/fatal_complete.csv'

In [2]:
# commit change pls work

In [4]:
#visualizing both datasets
public_arrest_data.head(2)

,ARR_DISTRICT,ARR_BEAT,ARR_YEAR,ARR_MONTH,RACE_CODE_CD,FBI_CODE,STATUTE,STAT_DESCR,CHARGE_CLASS_CD,CHARGE_TYPE_CD
0,10.0,1033.0,2017,8,BLK,18,720 ILCS 570.0/407-B-1,MFG/DEL COCAINE/SCH/PUB HS/PK,X,F
1,9.0,923.0,2017,8,WWH,WRT,725 ILCS 225.0/13,FUGITIVE FROM JUSTICE - OUT OF STATE WARRANT,Z,NaN

In [1]:
#vizualizing both datasets
crimes_2015_present.head(4)

NameError: name 'crimes_2015_present' is not defined

In [6]:
crimes_2015_present.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532753 entries, 0 to 532752
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   District              532753 non-null  float64
 1   Primary Type          532753 non-null  object
 2   Arrest                532753 non-null  bool
 3   Date                  532753 non-null  object
 4   IUCR                  532753 non-null  object
 5   Description           532753 non-null  object
 6   Location Description  531215 non-null  object
 7   FBI Code              532753 non-null  object
 8   Year                  532753 non-null  int64
 9   Latitude              528955 non-null  float64
 10  Longitude             528955 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 41.2+ MB

In [17]:
fatalities_shoot_data.head()

,Unnamed: 0,id,Date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
0,287,380,4/17/2015,point,foot,gun,Chicago,Cook,IL,41.760724,-87.572477,not_available,Jeffrey Kemp,18.0,male,B,not_available,False,False,265
1,446,582,6/20/2015,point,foot,gun,Chicago,Cook,IL,41.766403,-87.572648,not_available,Alfontish Cockerham,23.0,male,B,not_available,False,False,265
2,501,624,7/9/2015,point,foot,gun,Chicago,Cook,IL,41.758518,-87.607837,not_available,Martice Milliner,27.0,male,B,not_available,False,False,265
3,507,1152,7/10/2015,point,not,gun,Chicago,Cook,IL,41.701912,-87.607766,not_available,Eugene McSwain,25.0,male,B,not_available,False,False,265
4,660,795,8/29/2015,undetermined,car,unarmed,Chicago,Cook,IL,41.850735,-87.670897,not_available,Rafael Cruz Jr,29.0,male,H,not_available,False,False,265

## Crime Summary
- Collect dataset highlights using the crimes_2015_present dataset

In [7]:
# Calculate the total number of unique crime events that happened from 2015 to present (2023)
total_crimes_count = crimes_2015_present.count()["Date"]
total_crimes_count

print(f"There have been a total of {total_crimes_count} crimes registered in Chicago from 2015 to the present.")

There have been a total of 532753 crimes registered in Chicago from 2015 to the present.

In [8]:
# Select all of the different crime description types
crime_primary_types = crimes_2015_present["Primary Type"].value_counts()
crime_primary_types.head()

THEFT              133938
BATTERY             88872
NARCOTICS           57647
CRIMINAL DAMAGE     37204
OTHER OFFENSE       35391
Name: Primary Type, dtype: int64

In [9]:
# Select all of the different Location description types
location_description_types = crimes_2015_present["Location Description"].value_counts()
location_description_types.head(10)

STREET                            125128
RESIDENCE                          65914
APARTMENT                          59620
SIDEWALK                           55908
OTHER                              19720
PARKING LOT/GARAGE(NON.RESID.)     15800
SMALL RETAIL STORE                 15200
RESTAURANT                         13223
DEPARTMENT STORE                   12865
ALLEY                              12622
Name: Location Description, dtype: int64

In [10]:
# Select all of the different Districts
districts = crimes_2015_present["District"].value_counts()
districts.head(50)

25.0    57332
12.0    54080
19.0    48723
18.0    43753
11.0    42273
15.0    41019
14.0    39289
24.0    23799
22.0    20444
20.0    18515
16.0    16500
6.0     15806
7.0     15426
10.0    14743
4.0     13049
5.0     11768
8.0     11684
1.0     10254
9.0     10096
3.0      9806
2.0      7247
17.0     7120
31.0       27
Name: District, dtype: int64

In [11]:
# Select all of the different FBI Codes
FBI_codes = crimes_2015_present["FBI Code"].value_counts()
FBI_codes.head(4)

06     133938
08B     76972
18      57460
26      55618
Name: FBI Code, dtype: int64

In [12]:
# Create a high-level snapshot of the City's crime dataset
# crime_summary = pd.DataFrame({
    # "Total Crimes Count": total_crimes_count, 
    
# })

In [13]:
# Calaculate the top crimes committed per district
crimes_2015_present["District"]

0          1.0
1          6.0
2          6.0
3          6.0
4          6.0
          ...
532748    16.0
532749    16.0
532750    16.0
532751    16.0
532752    16.0
Name: District, Length: 532753, dtype: float64

## Demographic Summary
- Collect dataset highlights using public_arrest_data

In [14]:
# Calculate the total number of unique crime events that happened from 2015 to present (2023) in the public_arrest_data dataset
total_crimes_public_arr_count = public_arrest_data.count()["ARR_YEAR"]
total_crimes_public_arr_count

print(f"There have been a total of {total_crimes_public_arr_count} crimes registered in Chicago from 2015 to the present, based on the second dataset.")

There have been a total of 410682 crimes registered in Chicago from 2015 to the present, based on the second dataset.

In [20]:
# WHAT IS THE ARREST COUNT PER DISTRICT?
total_arrests_per_distrct = public_arrest_data["ARR_DISTRICT"].value_counts()
total_arrests_per_distrct.head(2)

# WHICH 2 DISTRICTS HAVE THE HIGHEST COUNT OF ARRESTS?
print(f"Districts 11 and 7 have the highest number of arrests in the city of Chicago.")

Districts 11 and 7 have the highest number of arrests in the city of Chicago.

In [22]:
# WHICH 2 DISTRICTS HAVE THE LOWEST COUNT OF ARRESTS?
total_arrests_per_distrct = public_arrest_data["ARR_DISTRICT"].value_counts()
total_arrests_per_distrct.tail(2)
print(f"Districts 17 and 20 have the lowest number of arrests in the city of Chicago.")

Districts 17 and 20 have the lowest number of arrests in the city of Chicago.

In [23]:
# WHAT IS THE TOTAL ARREST COUNT, PER RACE?
total_arrests_per_race = public_arrest_data["RACE_CODE_CD"].value_counts()
total_arrests_per_race

BLK    298318
WWH     71997
WHI     34647
WBH      2417
API      2375
U         635
I         293
Name: RACE_CODE_CD, dtype: int64

In [ ]:
total_arrests_per_year = public_arrest_data[public_arrest_data['Arrest'] == True].groupby('Year').size()
total_arrests_per_year

In [ ]:
# WHICH 4 DISTRICTS HAVE THE HIGHEST COUNT OF ARRESTS?

In [12]:
# What is the relationship between the top 4(?) district's ethnic demographic and police-involved fatalities?