In [3]:
# Import Dependencies
import pandas as pd
from pathlib import Path
# import csv
# import os

# Read file and store as a DataFrame
public_arrest_data_to_load = pd.read_csv("Resources/PublicReleaseArrestDataUPDATE.csv")
# public_arrest_data
crimes_2015_present_to_load = pd.read_csv("Resources/Crimes_2015toPresent.csv")
# crimes_2015_present

public_arrest_data = pd.DataFrame(public_arrest_data_to_load)
crimes_2015_present = pd.DataFrame(crimes_2015_present_to_load)


# merge both datasets - may not end up doing this
# crime_data_complete = pd.merge(public_arrest_data, crimes_2015_present, how="left", on=[""])

In [4]:
#visualizing both datasets
public_arrest_data.head(2)

,ARR_DISTRICT,ARR_BEAT,ARR_YEAR,ARR_MONTH,RACE_CODE_CD,FBI_CODE,STATUTE,STAT_DESCR,CHARGE_CLASS_CD,CHARGE_TYPE_CD
0,10.0,1033.0,2017,8,BLK,18,720 ILCS 570.0/407-B-1,MFG/DEL COCAINE/SCH/PUB HS/PK,X,F
1,9.0,923.0,2017,8,WWH,WRT,725 ILCS 225.0/13,FUGITIVE FROM JUSTICE - OUT OF STATE WARRANT,Z,NaN

In [5]:
#vizualizing both datasets
crimes_2015_present.head(2)

,District,Primary Type,Arrest,Date,IUCR,Description,Location Description,FBI Code,Year,Latitude,Longitude
0,1.0,ARSON,True,10/26/2015 07:06:00 PM,1090,ATTEMPT ARSON,CONSTRUCTION SITE,09,2015,41.885874,-87.625284
1,6.0,WEAPONS VIOLATION,True,10/09/2018 11:22:00 PM,143A,UNLAWFUL POSS OF HANDGUN,STREET,15,2018,41.750717,-87.638868

In [6]:
crimes_2015_present.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532753 entries, 0 to 532752
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   District              532753 non-null  float64
 1   Primary Type          532753 non-null  object
 2   Arrest                532753 non-null  bool
 3   Date                  532753 non-null  object
 4   IUCR                  532753 non-null  object
 5   Description           532753 non-null  object
 6   Location Description  531215 non-null  object
 7   FBI Code              532753 non-null  object
 8   Year                  532753 non-null  int64
 9   Latitude              528955 non-null  float64
 10  Longitude             528955 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 41.2+ MB

## Crime Summary
- Collect dataset highlights using the crimes_2015_present dataset

In [7]:
# Calculate the total number of unique crime events that happened from 2015 to present (2023)
total_crimes_count = crimes_2015_present.count()["Date"]
total_crimes_count

print(f"There have been a total of {total_crimes_count} crimes registered in Chicago from 2015 to the present.")

There have been a total of 532753 crimes registered in Chicago from 2015 to the present.

In [8]:
# Select all of the different crime description types
crime_primary_types = crimes_2015_present["Primary Type"].value_counts()
crime_primary_types.head()

THEFT              133938
BATTERY             88872
NARCOTICS           57647
CRIMINAL DAMAGE     37204
OTHER OFFENSE       35391
Name: Primary Type, dtype: int64

In [9]:
# Select all of the different Location description types
location_description_types = crimes_2015_present["Location Description"].value_counts()
location_description_types.head(10)

STREET                            125128
RESIDENCE                          65914
APARTMENT                          59620
SIDEWALK                           55908
OTHER                              19720
PARKING LOT/GARAGE(NON.RESID.)     15800
SMALL RETAIL STORE                 15200
RESTAURANT                         13223
DEPARTMENT STORE                   12865
ALLEY                              12622
Name: Location Description, dtype: int64

In [10]:
# Select all of the different Districts
districts = crimes_2015_present["District"].value_counts()
districts.head(50)

25.0    57332
12.0    54080
19.0    48723
18.0    43753
11.0    42273
15.0    41019
14.0    39289
24.0    23799
22.0    20444
20.0    18515
16.0    16500
6.0     15806
7.0     15426
10.0    14743
4.0     13049
5.0     11768
8.0     11684
1.0     10254
9.0     10096
3.0      9806
2.0      7247
17.0     7120
31.0       27
Name: District, dtype: int64

In [11]:
# Select all of the different FBI Codes
FBI_codes = crimes_2015_present["FBI Code"].value_counts()
FBI_codes.head(4)

06     133938
08B     76972
18      57460
26      55618
Name: FBI Code, dtype: int64

In [12]:
# Create a high-level snapshot of the City's crime dataset
# crime_summary = pd.DataFrame({
    # "Total Crimes Count": total_crimes_count, 
    
# })

In [13]:
# Calaculate the top crimes committed per district
crimes_2015_present["District"]

0          1.0
1          6.0
2          6.0
3          6.0
4          6.0
          ...
532748    16.0
532749    16.0
532750    16.0
532751    16.0
532752    16.0
Name: District, Length: 532753, dtype: float64

## Demographic Summary
- Collect dataset highlights using public_arrest_data

In [14]:
# Calculate the total number of unique crime events that happened from 2015 to present (2023) in the public_arrest_data dataset
total_crimes_public_arr_count = public_arrest_data.count()["ARR_YEAR"]
total_crimes_public_arr_count

print(f"There have been a total of {total_crimes_public_arr_count} crimes registered in Chicago from 2015 to the present, based on the second dataset.")

There have been a total of 410682 crimes registered in Chicago from 2015 to the present, based on the second dataset.

In [16]:
# WHAT IS THE ARREST COUNT PER DISTRICT?
total_arrests_per_distrct = public_arrest_data["ARR_DISTRICT"].value_counts()
total_arrests_per_distrct

11.0    52298
7.0     28327
25.0    27351
15.0    26037
10.0    25751
6.0     25628
4.0     22622
8.0     22489
5.0     20722
9.0     19813
3.0     19044
1.0     16425
2.0     14061
19.0    12407
12.0    12193
18.0    12000
22.0    10846
16.0    10135
14.0     8365
24.0     8170
17.0     7091
20.0     5086
Name: ARR_DISTRICT, dtype: int64

In [17]:
# WHAT IS THE TOTAL ARREST COUNT, PER RACE?
total_arrests_per_race = public_arrest_data["RACE_CODE_CD"].value_counts()
total_arrests_per_race

BLK    298318
WWH     71997
WHI     34647
WBH      2417
API      2375
U         635
I         293
Name: RACE_CODE_CD, dtype: int64

In [ ]:
# WHICH 4 DISTRICTS HAVE THE HIGHEST COUNT OF ARRESTS?

In [12]:
# What is the relationship between the top 4(?) district's ethnic demographic and police-involved fatalities?